PORT=5000
NODE_ENV=development
JWT_SECRET=shopease_super_secret_jwt_key_2026_modern_ecommerce
JWT_EXPIRE=7d

# MySQL Configuration
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=shopease_db

# Razorpay Test Configuration (Simulated / Test Key)
RAZORPAY_KEY_ID=rzp_test_ShopeaseKeyId123
RAZORPAY_KEY_SECRET=rzp_test_ShopeaseSecretKey456
